<div>
    <div id="app-header">
      <div *ngFor="let item of headerTabs.header; let i = index;">
        <div class="header-tab" (click)="handleTabChange(item)">
          <span id="header_{{i}}">{{item.name}}</span>
        </div>
      </div>
    </div>
    <div id="app-main">
      <div *ngIf="r_trans === undefined || r_trans === null || r_trans.length === 0" class="no-r-trans-header">
        No recurring transactions available !!
      </div>
      <div class="r-transaction-item" *ngFor="let item of r_trans; let i = index;" (click)="onContextMenu($event, item)">
          <span id="r_trans_desc_{{i}}">{{item.rec_trans_desc}}</span>
          <div style="display: flex;">
              <div id="r_trans_acc_{{i}}" matTooltip="{{ (item.is_mf !== '1') ? item.account_name : item.account_name + ' | ' + item.rec_mf_scheme_name }}"
              [matTooltipDisabled]="item.tooltipDisabled">
                {{ (item.is_mf !== '1') ? item.account_name : item.account_name + " | " + item.rec_mf_scheme_name }}
              </div>
              <div id="r_trans_rec_date_{{i}}">Recurring every month on Day: {{item.rec_trans_date}}</div>
              <div id="r_trans_exec_date_{{i}}">Last Executed: {{item.rec_trans_last_executed_date}}</div>
              <div id="r_trans_amount_{{i}}" class="money-val" [ngClass]="getClassVal(item)">{{item.rec_trans_amount}}</div>
          </div>
      </div>
    </div>
</div>


<div style="visibility: hidden; position: fixed" [style.left]="menuTopLeftPosition.x" [style.top]="menuTopLeftPosition.y" [matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu">
	<ng-template matMenuContent let-item="item">
		<button mat-menu-item (click)="updateItem(item)">Update</button>
		<button mat-menu-item (click)="deleteItem(item)">Delete</button>
	</ng-template>
</mat-menu>