.header-tab {
    display: inline-flex;
    border-radius: 5px;
    padding: 5px 15px;
    min-width: 120px;
    cursor: pointer;
    text-align: center;
    background: linear-gradient(317deg, #c283a6 0%, #62c4bb 50%, #87f7a4 100%);
}

#app-eq-dashboard {
    display: flex;
}
#refreshEqBtn {
    width: 20%;
    text-align: right;
    padding: 5px;
}
#refreshEqBtn span {
    cursor: pointer;
}
#refreshEqBtn span:hover {
    cursor: pointer;
    text-decoration: underline;
    color: royalblue;
}
#app-eq-trans-header {
    display: flex;
    width: 80%;
}
#indicesView {
    display: flex;
    width: 40%;
}
.market-indice {
    border-radius: 5px;
    width: 50%;
    padding: 10px 20px;
    background: linear-gradient(340deg, #e1eec6 0%, #de4eab 81%, #e61c41 100%);
    border: 1px solid #1000ff2e;
}
.no-eq-mapping-header {
    padding: 10px;
    text-align: center;
}
.negative-val {
    color: #911e1e;
}
.positive-val {
    color: #156410;
}
.eq-mapping-item {
    background: #fafad2;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
}
div[id^="eq_details_"] {
    width: 80%;
}
div[id^="eq_curr_val_"] {
    width: 20%;
}
div[id^="eq_code_"], div[id^="eq_nav_amt_"], div[id^="eq_inv_amt_"], div[id^="eq_units_"], div[id^="eq_nav_date_"], div[id^="eq_avg_nav_"] {
    width: 50%;
    font-size: 12px;
}

@media (min-width: 600px) and (max-width: 1000px) {
    #indicesView {
        width: 75%;
    }
}

@media (max-width: 600px) {
    #indicesView {
        width: 100%;
    }
}