.transaction-item {
    background: #fafad2;
    padding: 5px 10px;
    border-radius: 5px;
}

div[id^="trans_acc_"] {
    width: 33%;
    text-align: left;
    color: purple;
}

div[id^="trans_date_"] {
    width: 33%;
    text-align: center;
}

div[id^="trans_amount_"] {
    width: 33%;
    text-align: right;
}

span[id^="trans_desc_"] {
    font-size: 18px;
    font-weight: bold;
}

span[id^="trans_desc_"] span {
    cursor: pointer;
    vertical-align: middle;
}

.negative-val {
    color: #911e1e;
}
.positive-val {
    color: #156410;
}
.no-trans-header {
    padding: 10px;
    text-align: center;
}
.rightFloater {
    float: right;
    margin-left: 5px;
}