mat-label#addTransHeader {
    font-size: x-large;
    color: purple;
}

button.mat-raised-button {
    margin-right: 20px;
}
  
#fileInput {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
    height: 50px;
    left: 0px;
    top: 0px;
}
  
.mat-toolbar-single-row {
    height: auto !important;
    background: transparent;
    padding: 0;
}
  