<div class="center-align-val">
    <h1>Home to Admin Activities</h1>
    <div class="generic-div flex-div">
        <div class="w-33 center-align-val">
            <div class="inline-div generic-div button-div" style="background: darkgoldenrod;" (click)="invokeMfUpdater()">MF Updater</div>
        </div>
        <div class="w-33 center-align-val">
            <div class="inline-div generic-div button-div" style="background: darkgoldenrod;" (click)="invokeStocksUpdater()">Stocks Updater</div>
        </div>
        <div class="w-33 center-align-val">
            <div class="inline-div generic-div button-div" style="background: darkgoldenrod;" (click)="invokeRoutines()">Monthly Routines</div>
        </div>
    </div>
    <div style="display: flex;">
        <div class="w-50 left-align-val"><a href="/home">Home</a></div>
        <div class="w-50 right-align-val"><a href="/logout">Logout</a></div>
    </div>
</div>
