<div *ngIf="selectedAccount !== '' && (displayTrans === undefined || displayTrans.length === 0)" class="no-trans-header">
    No transactions available for the selected filter. Please change the selection filter to view transactions.
</div>
<div class="transaction-item"*ngFor="let item of displayTrans; let i = index;" (click)="onContextMenu($event, item, 'Transaction')">
    <span id="trans_desc_{{i}}">
        {{item.description}}
        <span *ngIf="!!item.receiptImgId" (click)="viewReceipt(item, $event)">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-card-image" viewBox="0 0 16 16">
                <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z"/>
            </svg>
        </span>
    </span>
    <div style="display: flex;">
        <div id="trans_acc_{{i}}">{{item.acc_name}}</div>
        <div id="trans_date_{{i}}">{{item.date}}</div>
        <div id="trans_amount_{{i}}" class="money-val" [ngClass]="getClassVal(item)">{{item.amount}}</div>
    </div>
</div>
<div id="transaction-footer" *ngIf="selectedAccount != '' && showMoreLabel==true" (click)="filterDisplayTrans(true)">Show More</div>