<div *ngIf="selectedAccount !== '' && (displayTrans === undefined || displayTrans.length === 0)" class="no-trans-header">
    No transactions available for the selected filter. Please change the selection filter to view transactions.
</div>
<div class="transaction-item"*ngFor="let item of displayTrans; let i = index;" (click)="onContextMenu($event, item, 'Transaction')">
    <span id="trans_desc_{{i}}">{{item.description}}</span>
    <div style="display: flex;">
        <div id="trans_acc_{{i}}">{{item.acc_name}}</div>
        <div id="trans_date_{{i}}">{{item.date}}</div>
        <div id="trans_amount_{{i}}" class="money-val" [ngClass]="getClassVal(item)">{{item.amount}}</div>
    </div>
</div>
<div id="transaction-footer" *ngIf="selectedAccount != '' && showMoreLabel==true" (click)="filterDisplayTrans(true)">Show More</div>