<div id="indicesView">
    <div class="market-indice" *ngFor="let idx of indices; let i = index;">
        <div class="flex-div">
            <div class="width50 bold-val">{{idx.symbolname}}</div>
            <div class="width50 right-align-val purple-val">{{appService.formatAmountWithComma(idx.pricecurrent)}}</div>
        </div>
        <div class="right-align-val" [ngClass]="validateClass(idx.percentchange)">{{appService.roundUpAmount(idx.percentchange)}}%</div>
        <div class="flex-div">
            <div class="width50">Last Updated On:</div>
            <div class="width50 right-align-val purple-val">{{idx.lastupd}}</div>
        </div>
    </div>
</div>
<div id="app-mf-dashboard">
    <div id="app-mf-trans-header">
        <div *ngFor="let item of headerTabs.header; let i = index;">
            <div class="header-tab" (click)="handleTabChange(item)">
            <span id="header_{{i}}">{{item.name}}</span>
            </div>
        </div>
    </div>
    <div id="refreshMfBtn" *ngIf="selectedAccount !== '' && mfMappings !== undefined && mfMappings.length !== 0">
        <div id="acc-xirr-val">XIRR: {{overallXirr}}%</div>
        <span (click)="refreshMfData()">Refresh</span>
    </div>
</div>
<app-transactions *ngIf="selectedTab === 'transactions' && selectedAccount != '' && selectedAccountObject.is_mf == true"
[selectedAccount]="selectedAccount" [selectedAccountObject]=selectedAccountObject [(refreshTransactions)]="refreshTransactions"
(onContextMenuEvent)="onContextMenu($event)"></app-transactions>
<div *ngIf="selectedTab === 'mf-dashboard' && selectedAccount != '' && selectedAccountObject.is_mf == true">
    <div *ngIf="selectedAccount !== '' && (mfMappings === undefined || mfMappings.length === 0)" class="no-mf-mapping-header">
        No Mutual Funds available for the selected account.
    </div>
    <div class="mf-mapping-item"*ngFor="let item of mfMappings; let i = index;" (click)="onContextMenuMf($event, item, 'MF Dashboard')">
        <div id="mf_details_{{i}}">
            <div class="bold-val">{{item.scheme_name}}</div>
            <div style="display: flex;">
                <div id="mf_code_{{i}}">MF Scheme Code: <span class="purple-val">{{item.scheme_code}}</span></div>
                <div id="mf_nav_amt_{{i}}">NAV Amount: <span class="purple-val">{{item.nav_amt}}</span></div>
            </div>
            <div style="display: flex;">
                <div id="mf_inv_amt_{{i}}">Inv Amount: <span class="purple-val">{{item.inv_amt}}</span></div>
                <div id="mf_units_{{i}}">No. of Units: <span class="purple-val">{{item.units}}</span></div>
            </div>
            <div style="display: flex;">
                <div id="mf_nav_date_{{i}}">NAV Date: <span class="purple-val">{{item.nav_date}}</span></div>
                <div id="mf_avg_nav_{{i}}">Avg NAV: <span class="purple-val">{{item.avg_nav}}</span></div>
            </div>
        </div>
        <div id="mf_curr_val_{{i}}" class="right-align-val">
            <div class="money-val bold-val" [ngClass]="getColorCode(item)">{{item.curr_amt}}</div>
            <div class="font12-val purple-val bold-val">XIRR : {{item.xirr_val}}%</div>
            <div class="font12-val purple-val bold-val">Abs. Return : {{item.abs_return}}%</div>
        </div>
    </div>
</div>