<div>
    <div id="app-header">
      <div *ngFor="let item of headerTabs.header; let i = index;">
        <div class="header-tab" (click)="handleTabChange(item)">
          <span id="header_{{i}}">{{item.name}}</span>
        </div>
      </div>
      <div id="app-trans-search">
        <span>Search: </span> <input type="search" (keyup)="search($event)" [(ngModel)]="searchText" />
      </div>
    </div>
    <div id="app-main">
      <app-home-scheduled-section (onContextMenuEvent)="onContextMenuEvent($event)" [(refreshTrans)]="refreshPendSchTrans"></app-home-scheduled-section>
      <app-home-recurring-section (onContextMenuEvent)="onContextMenuEvent($event)" [(refreshTrans)]="refreshPendRecTrans"></app-home-recurring-section>
      <div id="app-categories-pane">
        <div class="category-item-vertical" (click)="showAccounts(item)" *ngFor="let item of categories; let i = index;" (contextmenu)="onContextMenu($event, item, 'Category')">
            <span id="category_name_{{i}}">{{item.name}}</span><br/>
            <span id="category_amount_{{i}}" class="money-val" [ngClass]="getClassVal(item.amount)">{{item.amount}}</span>
        </div>
      </div>
      <div id="accounts-header" *ngIf="selectedCategory != ''">Showing Accounts for "{{selectedCategory}}" : <span id="clear-category" (click)="clearCategory()">Clear Category</span></div>
      <div id="app-accounts-pane">
        <div class="account-item-vertical" (click)="showTransactions(item)" *ngFor="let item of accounts; let i = index;" (contextmenu)="onContextMenu($event, item, 'Account')">
            <span id="account_name_{{i}}">{{item.name}}</span><br/>
            <span id="account_category_name_{{i}}">{{item.category_name}}</span><br/>
            <span id="account_balance_{{i}}" class="money-val" [ngClass]="getClassVal(item.balance)">{{item.balance}}</span>
        </div>
      </div>
      <ng-container *ngIf="selectedAccount != '' && selectedAccountObject.is_mf != '1' && selectedAccountObject.is_equity != '1'">
        <div id="transactions-header">Showing Transactions for "{{selectedAccount}}" : <span id="clear-account" *ngIf="selectedAccount != '' && selectedAccount != 'ALL'" (click)="clearAccount()">Clear Account</span></div>
        <app-transactions [selectedAccount]=selectedAccount [selectedAccountObject]=selectedAccountObject [(refreshTransactions)]="refreshTransactions"
        (onContextMenuEvent)="onContextMenuEvent($event)"></app-transactions>
      </ng-container>
      <ng-container *ngIf="selectedAccount != '' && selectedAccountObject.is_mf == '1'">
        <div id="transactions-header">Showing MF Dashboard & Transactions for "{{selectedAccount}}" : <span id="clear-account" *ngIf="selectedAccount != '' && selectedAccount != 'ALL'" (click)="clearAccount()">Clear Account</span></div>
        <app-mf-dashboard [selectedAccount]=selectedAccount [(selectedAccountObject)]=selectedAccountObject [(refreshTransactions)]="refreshMfTransactions"
        (onContextMenuEvent)="onContextMenuEvent($event)" (selectedAccountObjectChange)="onMfAccRefresh($event)"></app-mf-dashboard>
      </ng-container>
      <ng-container *ngIf="selectedAccount != '' && selectedAccountObject.is_equity == '1'">
        <div id="transactions-header">Showing Equity Dashboard & Transactions for "{{selectedAccount}}" : <span id="clear-account" *ngIf="selectedAccount != '' && selectedAccount != 'ALL'" (click)="clearAccount()">Clear Account</span></div>
        <app-eq-dashboard [selectedAccount]=selectedAccount [(selectedAccountObject)]=selectedAccountObject [(refreshTransactions)]="refreshEqTransactions"
        (onContextMenuEvent)="onContextMenuEvent($event)" (selectedAccountObjectChange)="onMfAccRefresh($event)"></app-eq-dashboard>
      </ng-container>
    </div>
    <div id="app-footer">
      &copy; Shapartha Systems Pvt Ltd
      <br/>
      App Version: <div id="version_info">{{appVersionInfo}}</div>
    </div>
</div>


<div style="visibility: hidden; position: fixed" [style.left]="menuTopLeftPosition.x" [style.top]="menuTopLeftPosition.y" [matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu">
	<ng-template matMenuContent let-item="item">
    <div *ngIf="item.menuType !== 'MF Dashboard' && item.menuType !== 'EQ Dashboard' && item.menuType !== 'Today Scheduled Transaction' 
    && item.menuType !== 'Today Recurring Transaction'">
      <button mat-menu-item (click)="updateItem(item)">Update</button>
      <button mat-menu-item *ngIf="(item.is_mf == undefined || item.is_mf == false) && (item.is_equity == undefined || item.is_equity == false)" (click)="deleteItem(item)">Delete</button>
      <button mat-menu-item *ngIf="item.category_name === 'Credit Card'" (click)="generateBill(item)">Generate Bill</button>
    </div>
    <div *ngIf="item.menuType === 'MF Dashboard' || item.menuType === 'EQ Dashboard'">
      <button mat-menu-item (click)="redeemAll(item)">Redeem All</button>
      <button mat-menu-item (click)="redeemPartial(item)">Redeem Partial</button>
    </div>
    <div *ngIf="item.menuType === 'Transaction'">
      <button mat-menu-item *ngIf="(item.is_mf == undefined || item.is_mf == false) && (item.is_equity == undefined || item.is_equity == false) && (item.is_delivery_order == undefined || item.is_delivery_order == false) && (item.is_delivered == undefined || item.is_delivered == false)" (click)="markDeliveryOrder(item)">Mark as Delivery Order</button>
      <button mat-menu-item *ngIf="(item.is_mf == undefined || item.is_mf == false) && (item.is_equity == undefined || item.is_equity == false) && (item.is_delivery_order == true) && (item.is_delivered == undefined || item.is_delivered == false)" (click)="markDeliveryOrder(item)">Unmark as Delivery Order</button>
      <button mat-menu-item *ngIf="(item.is_mf == undefined || item.is_mf == false) && (item.is_equity == undefined || item.is_equity == false) && (item.is_delivery_order == true) && (item.is_delivered == undefined || item.is_delivered == false)" (click)="setOrderDelivered(item)">Set Order Delivered</button>
      <button mat-menu-item *ngIf="(item.is_mf == undefined || item.is_mf == false) && (item.is_equity == undefined || item.is_equity == false)" (click)="copyItem(item)">Copy to New Transaction</button>
    </div>
    <div *ngIf="item.menuType === 'Today Scheduled Transaction'">
      <button mat-menu-item (click)="processSchTransNow(item)">Process Now</button>
      <button mat-menu-item (click)="removeSchTrans(item)">Remove</button>
      <button mat-menu-item (click)="postponeSchTrans(item)">Postpone Tomorrow</button>
    </div>
    <div *ngIf="item.menuType === 'Today Recurring Transaction'">
      <button mat-menu-item (click)="skipRecTrans(item)">Skip Current Occurrence</button>
      <button mat-menu-item (click)="updateItem(item)">Update</button>
      <button mat-menu-item (click)="processRecTransNow(item)">Process Now</button>
      <button mat-menu-item *ngIf="item.is_paused == '0'" (click)="pauseRecTrans(item)">Pause</button>
    </div>
	</ng-template>
</mat-menu>