<div>
    <div id="app-header">
      <div *ngFor="let item of headerTabs.header; let i = index;">
        <div class="header-tab" (click)="handleTabChange(item)">
          <span id="header_{{i}}">{{item.name}}</span>
        </div>
      </div>
    </div>
    <div id="app-main">
      <div id="app-categories-pane">
        <div class="category-item-vertical" (click)="showAccounts(item)" *ngFor="let item of categories; let i = index;">
            <span id="category_name_{{i}}">{{item.name}}</span><br/>
            <span id="category_amount_{{i}}" class="money-val" [ngClass]="getClassVal(item.amount)">{{item.amount}}</span>
        </div>
      </div>
      <div id="accounts-header" *ngIf="selectedCategory != ''">Showing Accounts for "{{selectedCategory}}" : <span id="clear-category" (click)="clearCategory()">Clear Category</span></div>
      <div id="app-accounts-pane">
        <div class="account-item-vertical" (click)="showTransactions(item)" *ngFor="let item of accounts; let i = index;">
            <span id="account_name_{{i}}">{{item.name}}</span><br/>
            <span id="account_category_name_{{i}}">{{item.category_name}}</span><br/>
            <span id="account_balance_{{i}}" class="money-val" [ngClass]="getClassVal(item.balance)">{{item.balance}}</span>
        </div>
      </div>
      <div id="transactions-header" *ngIf="selectedAccount != ''">Showing Transactions for "{{selectedAccount}}" : <span id="clear-account" *ngIf="selectedAccount != '' && selectedAccount != 'ALL'" (click)="clearAccount()">Clear Account</span></div>
      <app-transactions [selectedAccount]=selectedAccount [selectedAccountObject]=selectedAccountObject></app-transactions>
    </div>
</div>