.category-item-vertical {
    border-radius: 5px;
    padding: 5px 15px;
    border: 1px solid #1000ff2e;
    cursor: pointer;
    width: 150px;
    background: rgb(187,250,234);
    background: linear-gradient( 90deg, #bbfaea 0%, #76c7e3 81%, #00d4ff 100%);
}

.account-item-vertical {
    border-radius: 5px;
    padding: 5px 15px;
    border: 1px solid #1000ff2e;
    cursor: pointer;
    width: 150px;
    background: #d78ac3;
    background: linear-gradient(90deg, #f7b0d7 0%, #bb82a7 81%, #cf9b6f 100%);
}

#app-categories-pane {
    display: inline-flex;
    flex-wrap: wrap;
}
#app-accounts-pane {
    display: inline-flex;
    flex-wrap: wrap;
}
#app-header {
    display: flex;
    flex-wrap: wrap;
}
#app-main {
    display: block;
}
.header-tab {
    display: inline-flex;
    border-radius: 5px;
    padding: 5px 15px;
    min-width: 120px;
    cursor: pointer;
    text-align: center;
    background: linear-gradient(317deg, #d5b469 0%, #f3ddd0 50%, #f79c87 100%);
}
span[id^="category_amount"], span[id^="account_balance"] {
    float: right;
    font-weight: bold;
}
span[id^="account_category_name"] {
    font-size: 80%;
    color: purple;
}
#accounts-header, #transactions-header {
    background: rgb(219, 216, 216);
    padding: 10px 15px;
    border-radius: 5px;
}

#clear-category, #clear-account {
    cursor: pointer;
    float: right;
    color: purple;
    text-decoration: underline;
}